

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-family: "Alegreya",Georgia,Times,serif;
	font-size: 2em;
	color: #222222;
}

h1, h2, h3, h4, h5 {
	font-family: "Alegreya SC","Alegreya",Georgia,Times,serif;
	font-weight: normal;
	letter-spacing: .02em;
}

p {
	line-height: 2em;
}

li {
	padding: .3em;
}

/* https://www.flickr.com/photos/frigidlightphoto/14552114769 */
#main {
	padding: 0;
	background-size: 1600px auto;
	min-height: 600px;
  background: url(../img/5591820123_2048_c1.jpg) top no-repeat;
	background-size: 100%;
	background-color: #d2c8bf;
  color: #fcf5e3;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

  @media (max-width: 850px) {
    #main {
            min-height: 200px;
	 } }

  @media (min-width: 850px) and (max-width: 1260px) {
    #main {
      min-height: 400px;
	 } }



#main h1 {
  margin-bottom:0px;
}

#main h2 {
  margin-top:0px;
}

.section {
  min-height: 200px;
  padding: 20px 50px 30px 50px;
}

.stripe {
  color: #fcf5e3;
  padding: 10px 20px 15px;
}

/* lighter backgrounds need dark text */
.light {
  color: #333333;
}

.stripe1 { background-color: #410405; }
.stripe2 { background-color: #F1CC4E; }
.stripe3 { background-color: #F4A949; }
.stripe4 { background-color: #A51212; }


.jumbotron {
	margin-bottom: 0px; 
}

#cols {
	margin: 20px 0 30px 0;
}

.attribution {
  background-color: #000;
  color: #9d9d9d;
  padding-right:10px;
}

